* {
    box-sizing: border-box;
}

@font-face { font-family: AmazDoomLeft; 
    src: url('AmazDooMLeft.ttf') format("truetype"); }

@font-face { font-family: SpaceMarine; 
    src: url('SpaceMarine.ttf') format("truetype"); }
    
body {
    padding: 0%;
    margin: 0%; 
    height: 100vh;
    width: 100vw;
    background-image: url('../images/doom_background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

.hide {
    display: none;
}

#game-area {
    width: 80vw;
    max-width: 80%;
    background-color: rgba(57, 56, 59, 0.6);
    border-radius: 5px;
    padding: 2vw;
    box-shadow: 0 0 10px 5px;
}
    
.title {
    width: 60vw;
    max-width: 35rem;
    justify-self: start;
}

.doom-guy {
    width: 15vw;
    max-width: 80px;
    margin: 10px;
    position:absolute, center;
    z-index: 1;
}

#start-game {
    font-family: AmazDoomLeft;
    font-size: 10vw;
    background: -webkit-linear-gradient(rgb(1, 9, 114), rgb(248, 191, 2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#too-young {
    margin: 10px;
    background-image: url("../images/too-young.png") no-repeat;
    background-color: rgba(12, 4, 121, 0.425);
    background-size: 100%;
    width: 50%;
    height:50px;
}

#hurt-plenty {
    margin: 10px;
    background-image: url("../images/hurt-me.png") no-repeat;
    background-color: rgba(12, 4, 121, 0.425);
    background-size: 100%;

}

#question {
    font-family: AmazDoomLeft;
    font-size: 4vw;
    background: -webkit-linear-gradient(rgb(214, 0, 18), rgb(248, 191, 2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 5px;
}

.btn {
    margin: 10px;
    display: inline-block;
    font-family: SpaceMarine;
    font-size: 1vw;
    background: -webkit-linear-gradient(rgb(214, 0, 18), rgb(248, 191, 2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.btn:hover {
    cursor:crosshair;
    border-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}



@media only screen and (max-width: 1200px) {
    .btn-grid {
        display: grid;
        grid-template-columns: repeat(1, auto);
    }
  }

@media only screen and (max-width: 900px) {
    .question {
        font-size: 4vh;
    }
    .btn {
        margin: 1rem;
        font-size: 1vh;
    }
  }
 
